Repository garricn/premiumflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mdformat, yamlfmt, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black (uv)
        entry: uv run black --check --diff
        language: system
        types: [python]
      - id: ruff
        name: ruff (uv)
        entry: uv run ruff check
        language: system
        types: [python]
      - id: mypy
        name: mypy (uv)
        entry: uv run mypy --config-file mypy.ini src/premiumflow tests
        language: system
        pass_filenames: false
      - id: mdformat
        name: mdformat (uv)
        entry: uv run mdformat
        language: system
        types: [markdown]
      - id: shfmt
        name: shfmt
        entry: shfmt -d
        language: system
        types: [shell]
      - id: yamlfmt
        name: yamlfmt
        entry: yamlfmt -conf .yamlfmt.yml -lint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
      - id: taplo
        name: taplo fmt
        entry: taplo fmt --config .taplo.toml --check pyproject.toml
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
      - id: pytest
        name: pytest (uv)
        entry: uv run pytest
        language: system
        pass_filenames: false
        stages: [pre-push]

[Legs-140] Add README documentation for legs command
  README.md
Due: mdformat

[Web UI-141] Add web UI for browsing matched legs
  src/premiumflow/services/json_serializer.py
  src/premiumflow/web/app.py
  src/premiumflow/web/static/site.css
  src/premiumflow/web/templates/index.html
  src/premiumflow/web/templates/legs.html
  tests/test_web_app.py
Due: black, ruff

Update agent.md
  .cursor/agent.md
Due: mdformat

Fix web app to require account_number
  README.md
  docs/import-cash-flow.md
  src/premiumflow/cli/import_command.py
  src/premiumflow/core/parser.py
  src/premiumflow/web/app.py
  src/premiumflow/web/templates/index.html
  tests/test_cli.py
  tests/test_import_command.py
  tests/test_import_parser_spec.py
  tests/test_lookup.py
  tests/test_web_app.py
Due: black, ruff, mdformat

Fix all tests to provide account_number
  src/premiumflow/cli/analyze.py
  src/premiumflow/cli/import_command.py
  src/premiumflow/cli/lookup.py
  src/premiumflow/cli/trace.py
  tests/test_cli.py
Due: black, ruff

chore: Add .gemini/settings.json to .gitignore
  .gitignore
Due: none

Fix dark mode support for leg cards
  src/premiumflow/web/static/site.css
  src/premiumflow/web/templates/legs.html
Due: none

Refactor documentation into shared docs directory
  .cursor/agent.md
  AGENTS.md
  GEMINI.md
  docs/code-review-guidelines.md
  docs/commit-pr-guidelines.md
  docs/development-guidelines.md
  docs/web-ui-guidelines.md
Due: mdformat

Add CLI guidelines and expand testing guidelines
  .cursor/agent.md
  AGENTS.md
  GEMINI.md
  docs/cli-guidelines.md
  docs/development-guidelines.md
Due: mdformat

Update AGENTS.md
  AGENTS.md
Due: mdformat

Update GEMINI.md
  GEMINI.md
Due: mdformat

Reorganize guidelines into docs/guidelines/ subdirectory
  .cursor/agent.md
  AGENTS.md
  GEMINI.md
  docs/guidelines/cli.md
  docs/guidelines/code-review.md
  docs/guidelines/commit-pr.md
  docs/guidelines/development.md
  docs/guidelines/web-ui.md
Due: mdformat

Rename docs/guidelines/ to docs/developers/
  .cursor/agent.md
  AGENTS.md
  GEMINI.md
  docs/developers/cli.md
  docs/developers/code-review.md
  docs/developers/commit-pr.md
  docs/developers/development.md
  docs/developers/web-ui.md
Due: mdformat

Move
  docs/users/import-cash-flow.md
Due: mdformat

Standardize agent file structure and formatting
  .cursor/agent.md
  AGENTS.md
  GEMINI.md
  docs/developers/agent-files-template.md
Due: mdformat

Make signature requirements critical and remove cross-agent references
  .cursor/agent.md
  AGENTS.md
  GEMINI.md
Due: mdformat

Implement service layer for account-level cash flow and P&L reporting
  src/premiumflow/services/__init__.py
  src/premiumflow/services/cash_flow.py
  src/premiumflow/services/cash_flows.py
  tests/services/test_cash_flow_reporting.py
  tests/services/test_cash_flows.py
Due: black, ruff

Fix unrealized exposure attribution to use lot-level dates
  src/premiumflow/services/cash_flow.py
Due: black, ruff

Fix date-filtered P&L to include legs opened before range
  src/premiumflow/services/cash_flow.py
  tests/services/test_cash_flow_reporting.py
Due: black, ruff

Fix: Include unrealized exposure for positions opened before date range
  src/premiumflow/services/cash_flow.py
  tests/services/test_cash_flow_reporting.py
Due: black, ruff

Refactor: Pre-populate period_data with all periods upfront
  src/premiumflow/services/cash_flow.py
Due: black, ruff

Rename test file to match implementation module name
  tests/services/test_cash_flow.py
Due: black, ruff

Refactor: Break down large functions into smaller, focused helpers
  src/premiumflow/services/cash_flow.py
Due: black, ruff

Add clamp_periods_to_range toggle to control period boundary behavior
  src/premiumflow/services/cash_flow.py
  tests/services/test_cash_flow.py
Due: black, ruff

Refactor P&L metrics to separate gross and net realized P&L
  src/premiumflow/services/cash_flow.py
  tests/services/test_cash_flow.py
Due: black, ruff

Fix: Include unrealized P&L for positions closed after date range
  src/premiumflow/services/cash_flow.py
  tests/services/test_cash_flow.py
Due: black, ruff

Refactor: Rename unrealized_pnl to unrealized_exposure and improve robustness
  src/premiumflow/services/__init__.py
  src/premiumflow/services/cash_flow.py
  src/premiumflow/services/json_serializer.py
  tests/services/test_cash_flow.py
Due: black, ruff

Fix: Update docstring to use 'unrealized exposure' terminology
  src/premiumflow/services/cash_flow.py
Due: black, ruff

Add cashflow CLI command for account-level cash flow and P&L reporting
  src/premiumflow/cli/cashflow.py
  src/premiumflow/cli/commands.py
  tests/test_cashflow_command.py
  tests/test_cli.py
Due: black, ruff

Add type hint to _build_cashflow_table parameter
  src/premiumflow/cli/cashflow.py
Due: black, ruff

Fix P0: Isolate tests to temporary database
  tests/test_cashflow_command.py
Due: black, ruff

Clean up agent documentation files
  .cursor/agent.md
  AGENTS.md
  GEMINI.md
Due: mdformat

Add web UI for cash flow and P&L dashboard
  src/premiumflow/services/cash_flow.py
  src/premiumflow/services/cli_helpers.py
  src/premiumflow/web/app.py
  src/premiumflow/web/static/site.css
  src/premiumflow/web/templates/cashflow.html
  src/premiumflow/web/templates/index.html
  src/premiumflow/web/templates/legs.html
  tests/test_web_app.py
Due: black, ruff

Require account_name and account_number in cashflow web UI
  src/premiumflow/services/cash_flow.py
  src/premiumflow/services/cli_helpers.py
  src/premiumflow/web/app.py
  src/premiumflow/web/templates/cashflow.html
  tests/test_web_app.py
Due: black, ruff

Fix cashflow view to allow initial page load without account fields
  src/premiumflow/web/app.py
  src/premiumflow/web/templates/cashflow.html
  tests/test_web_app.py
Due: black, ruff

Refactor account selection to single dropdown with first account default
  src/premiumflow/web/app.py
  src/premiumflow/web/templates/cashflow.html
  tests/test_web_app.py
Due: black, ruff

Fix sorting in _get_unique_accounts to handle None account numbers
  src/premiumflow/web/app.py
Due: black, ruff

Remove account_number requirement to support accounts without numbers
  src/premiumflow/web/app.py
  tests/test_web_app.py
Due: black, ruff

Add date validation and loading indicator to cashflow view
  src/premiumflow/web/app.py
  src/premiumflow/web/static/site.css
  src/premiumflow/web/templates/cashflow.html
  tests/test_web_app.py
Due: black, ruff
