Repository garricn/premiumflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mdformat, yamlfmt, taplo

black:
  name: black (uv)
  entry: uv run black --check --diff
  language: system

ruff:
  name: ruff (uv)
  entry: uv run ruff check
  language: system

mdformat:
  name: mdformat (uv)
  entry: uv run mdformat
  language: system

yamlfmt:
  name: yamlfmt
  entry: yamlfmt -conf .yamlfmt.yml -lint
  language: system
  pass_filenames: false

taplo:
  name: taplo fmt
  entry: taplo fmt --config .taplo.toml --check pyproject.toml
  language: system
  pass_filenames: false

Refactor cash flow report columns
  src/premiumflow/cli/cashflow.py
  src/premiumflow/services/cash_flow.py
  src/premiumflow/services/json_serializer.py
  src/premiumflow/web/templates/cashflow.html
  tests/services/test_cash_flow.py
  tests/test_cashflow_command.py
  tests/test_web_app.py
Due: black, ruff

Update AGENTS.md
  AGENTS.md
Due: mdformat

Update GEMINI.md
  GEMINI.md
  src/premiumflow/services/cash_flow.py
  tests/services/test_cash_flow.py
Due: black, ruff, mdformat

Guard opening-fee clamping for out-of-range lots
  src/premiumflow/services/cash_flow.py
  tests/services/test_cash_flow.py
Due: black, ruff

Ensure fee clamping creates needed period buckets
  src/premiumflow/services/cash_flow.py
  tests/services/test_cash_flow.py
Due: black, ruff

feat: add assignment-handling toggle to cashflow report
  README.md
  src/premiumflow/cli/cashflow.py
  src/premiumflow/services/__init__.py
  src/premiumflow/services/cash_flow.py
  src/premiumflow/services/json_serializer.py
  src/premiumflow/web/app.py
  src/premiumflow/web/templates/cashflow.html
  tests/services/test_cash_flow.py
  tests/test_cashflow_command.py
  tests/test_web_app.py
Due: black, ruff, mdformat

feat: persist assignment stock lots
  src/premiumflow/cli/import_command.py
  src/premiumflow/persistence/__init__.py
  src/premiumflow/persistence/repository.py
  src/premiumflow/persistence/storage.py
  src/premiumflow/services/cash_flow.py
  src/premiumflow/services/leg_matching.py
  src/premiumflow/services/stock_lot_builder.py
  src/premiumflow/services/transaction_loader.py
  src/premiumflow/web/app.py
  tests/services/test_stock_lot_builder.py
  tests/test_import_command.py
Due: black, ruff

fix: allow multiple stock lots per assignment
  src/premiumflow/persistence/storage.py
  tests/services/test_stock_lot_builder.py
Due: black, ruff

fix: emit stock lot per assignment transaction
  src/premiumflow/services/stock_lot_builder.py
  tests/services/test_stock_lot_builder.py
Due: black, ruff

fix: preserve per-share precision when prorating
  src/premiumflow/services/stock_lot_builder.py
Due: black, ruff

feat: ingest stock trades and rebuild FIFO stock lots
  src/premiumflow/cli/import_command.py
  src/premiumflow/core/parser.py
  src/premiumflow/persistence/__init__.py
  src/premiumflow/persistence/repository.py
  src/premiumflow/persistence/storage.py
  src/premiumflow/services/stock_lot_builder.py
  src/premiumflow/services/stock_lot_service.py
  src/premiumflow/web/app.py
  tests/services/test_stock_lot_builder.py
  tests/services/test_stock_lot_service.py
  tests/test_import_command.py
  tests/test_persistence_repository.py
  tests/test_persistence_storage.py
Due: black, ruff

stock lots: fix covering buy allocations
  src/premiumflow/services/stock_lot_service.py
  tests/services/test_stock_lot_service.py
Due: black, ruff

stock lots: isolate symbol queues
  src/premiumflow/services/stock_lot_service.py
  tests/services/test_stock_lot_service.py
Due: black, ruff

stock lots: prorate assignment premium
  src/premiumflow/services/stock_lot_service.py
  tests/services/test_stock_lot_service.py
Due: black, ruff

parser: normalize stock trans codes
  src/premiumflow/core/parser.py
  tests/test_import_parser_spec.py
Due: black, ruff

storage: keep stock lots table
  src/premiumflow/persistence/storage.py
  tests/test_persistence_storage.py
Due: black, ruff

storage: migrate legacy stock_lots schema
  src/premiumflow/persistence/storage.py
  tests/test_persistence_storage.py
Due: black, ruff

stock lots: preserve CSV row ordering
  src/premiumflow/core/parser.py
  src/premiumflow/persistence/storage.py
  src/premiumflow/services/leg_matching.py
  src/premiumflow/services/stock_lot_service.py
  tests/services/test_stock_lot_service.py
Due: black, ruff

stock lots: carry premium when covering shorts
  src/premiumflow/services/stock_lot_service.py
  tests/services/test_stock_lot_service.py
Due: black, ruff

feat: ingest equity trades for issue 196
  src/premiumflow/core/parser.py
  src/premiumflow/persistence/__init__.py
  src/premiumflow/persistence/repository.py
  src/premiumflow/persistence/storage.py
  tests/test_import_parser_spec.py
  tests/test_persistence_repository.py
  tests/test_persistence_storage.py
Due: black, ruff

fix: allow fractional stock share quantities
  src/premiumflow/core/parser.py
  src/premiumflow/persistence/repository.py
  src/premiumflow/persistence/storage.py
  tests/test_import_parser_spec.py
  tests/test_persistence_repository.py
  tests/test_persistence_storage.py
Due: black, ruff

fix: migrate legacy stock_lots schema for web
  src/premiumflow/persistence/storage.py
  tests/test_persistence_storage.py
Due: black, ruff

chore: drop legacy stock persistence schema
  src/premiumflow/persistence/storage.py
  tests/test_persistence_storage.py
Due: black, ruff

test: cover legacy stock lot schema init
  tests/test_persistence_storage.py
Due: black, ruff

fix: keep stock tables between runs
  src/premiumflow/persistence/storage.py
  tests/test_persistence_storage.py
Due: black, ruff

fix: count stock rows in imports
  src/premiumflow/persistence/storage.py
  tests/test_persistence_storage.py
Due: black, ruff

feat: expose stock lots surfaces
  src/premiumflow/cli/commands.py
  src/premiumflow/cli/shares.py
  src/premiumflow/persistence/__init__.py
  src/premiumflow/persistence/repository.py
  src/premiumflow/services/stock_lots.py
  src/premiumflow/web/app.py
  tests/test_shares_command.py
  tests/test_web_app.py
Due: black, ruff

feat: add stock lots web UI page
  src/premiumflow/web/app.py
  src/premiumflow/web/templates/cashflow.html
  src/premiumflow/web/templates/imports.html
  src/premiumflow/web/templates/index.html
  src/premiumflow/web/templates/legs.html
  src/premiumflow/web/templates/stock_lots.html
  tests/test_web_app.py
Due: black, ruff

Integrate stock realized P&L into cashflow reporting
  src/premiumflow/cli/cashflow.py
  src/premiumflow/services/__init__.py
  src/premiumflow/services/cash_flow.py
  src/premiumflow/services/json_serializer.py
  src/premiumflow/web/app.py
  src/premiumflow/web/templates/cashflow.html
  tests/services/test_cash_flow.py
  tests/test_cashflow_command.py
  tests/test_web_app.py
Due: black, ruff

Implement consolidated stock lot rebuild
  src/premiumflow/cli/import_command.py
  src/premiumflow/persistence/__init__.py
  src/premiumflow/persistence/repository.py
  src/premiumflow/services/stock_lot_builder.py
  src/premiumflow/services/stock_lots.py
  tests/services/test_stock_lot_builder.py
Due: black, ruff

Fix realized P&L for stock lot closures
  src/premiumflow/services/stock_lot_builder.py
  tests/services/test_stock_lot_builder.py
Due: black, ruff

Exclude open stock lots from realized P&L
  src/premiumflow/services/stock_lots.py
  tests/services/test_stock_lot_builder.py
Due: black, ruff

Accumulate fractional shares when rebuilding stock lots
  src/premiumflow/services/stock_lot_builder.py
  tests/services/test_stock_lot_builder.py
Due: black, ruff

feat: add coverage reporting
  README.md
  pyproject.toml
Due: mdformat, taplo

feat: add complexity and length linting rules
  pyproject.toml
  src/premiumflow/cli/cashflow.py
  src/premiumflow/cli/import_command.py
  src/premiumflow/cli/legs.py
  src/premiumflow/cli/lookup.py
  src/premiumflow/core/legs.py
  src/premiumflow/core/parser.py
  src/premiumflow/persistence/repository.py
  src/premiumflow/persistence/storage.py
  src/premiumflow/services/cash_flow.py
  src/premiumflow/services/chain_builder.py
  src/premiumflow/services/json_serializer.py
  src/premiumflow/services/stock_lot_builder.py
  src/premiumflow/services/transactions.py
  src/premiumflow/web/app.py
  tests/core/test_legs.py
  tests/services/test_cash_flow.py
  tests/services/test_leg_matching.py
  tests/test_cashflow_command.py
  tests/test_cli.py
  tests/test_persistence_repository.py
  tests/test_web_app.py
Due: black, ruff, taplo

fix(ci): format pyproject.toml
  pyproject.toml
Due: taplo

test: add web smoke test
  README.md
  tests/test_web_app.py
Due: black, ruff, mdformat

fix(ci): format files with black
  src/premiumflow/core/legs.py
  src/premiumflow/services/transactions.py
Due: black, ruff

test: expand web smoke coverage
  README.md
  tests/test_web_app.py
Due: black, ruff, mdformat

fix(ci): move noqa comment to correct line
  src/premiumflow/services/transactions.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  yamlfmt: any of: ^\.github/workflows/.*\.ya?ml$
  taplo: any of: ^pyproject\.toml$
