Repository garricn/premiumflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mdformat, yamlfmt, taplo

black:
  name: black (uv)
  entry: uv run black --check --diff
  language: system

ruff:
  name: ruff (uv)
  entry: uv run ruff check
  language: system

mdformat:
  name: mdformat (uv)
  entry: uv run mdformat
  language: system

yamlfmt:
  name: yamlfmt
  entry: yamlfmt -conf .yamlfmt.yml -lint
  language: system
  pass_filenames: false

taplo:
  name: taplo fmt
  entry: taplo fmt --config .taplo.toml --check pyproject.toml
  language: system
  pass_filenames: false

Name individual CI status checks (#91)
  .github/workflows/ci.yml
Due: yamlfmt

Split CI workflow into dedicated jobs (#94)
  .github/workflows/ci.yml
Due: yamlfmt

Enhance parser validation and metadata handling
  src/premiumflow/core/parser.py
  tests/test_import_parser_spec.py
Due: black, ruff

Address parser review feedback
  README.md
  src/premiumflow/core/parser.py
  tests/test_import_parser_spec.py
Due: black, ruff, mdformat

Scope parenthesized parsing to commission only
  src/premiumflow/core/parser.py
  tests/test_import_parser_spec.py
Due: black, ruff

Format parser tests
  tests/test_import_parser_spec.py
Due: black, ruff

Add cash-flow aggregation service
  src/premiumflow/services/__init__.py
  src/premiumflow/services/cash_flows.py
  tests/services/test_cash_flows.py
Due: black, ruff

Use broker amounts when aggregating cash flows
  src/premiumflow/services/cash_flows.py
  tests/services/test_cash_flows.py
Due: black, ruff

Handle positive assignment cash credits
  src/premiumflow/services/cash_flows.py
  tests/services/test_cash_flows.py
Due: black, ruff

docs(cursor): add signature policy and identity guidance — Cursor Agent
  .cursor/agent.md
  .cursor/quick-reference.md
Due: mdformat

docs(cursor): consolidate quick-reference into agent.md and remove duplicate — Cursor Agent
  .cursor/agent.md
  .cursor/quick-reference.md
Due: mdformat

Add repository agent guidelines
  AGENTS.md
Due: mdformat

Wire import CLI to normalized parser
  src/premiumflow/cli/ingest.py
  src/premiumflow/core/parser.py
  tests/test_cli.py
  tests/test_ingest_command.py
Due: black, ruff

Emit JSON payload for empty filter results
  src/premiumflow/cli/ingest.py
Due: black, ruff

Add cash-flow reporting to import CLI
  src/premiumflow/cli/ingest.py
  src/premiumflow/services/json_serializer.py
  tests/test_cli.py
  tests/test_ingest_command.py
  tests/test_json_serializer_service.py
Due: black, ruff

Restore broker amount when building chain inputs
  src/premiumflow/cli/ingest.py
Due: black, ruff

Document import workflow and ensure chronological cash flows
  README.md
  docs/import-cash-flow.md
  src/premiumflow/cli/ingest.py
  tests/test_ingest_command.py
Due: black, ruff, mdformat

Remove legacy parser helpers
  src/premiumflow/__init__.py
  src/premiumflow/cli/analyze.py
  src/premiumflow/cli/ingest.py
  src/premiumflow/cli/lookup.py
  src/premiumflow/cli/trace.py
  src/premiumflow/core/__init__.py
  src/premiumflow/core/parser.py
  src/premiumflow/services/transactions.py
  tests/test_cli.py
  tests/test_lookup.py
Due: black, ruff

Document normalized adapter exports
  src/premiumflow/services/__init__.py
  src/premiumflow/services/transactions.py
Due: black, ruff

Document JSON formatting and adapter behavior
  docs/import-cash-flow.md
  src/premiumflow/services/transactions.py
Due: black, ruff, mdformat

Refine import command to emit only canonical CSV data
  docs/import-cash-flow.md
  src/premiumflow/cli/ingest.py
  src/premiumflow/services/__init__.py
  src/premiumflow/services/json_serializer.py
  tests/test_cli.py
  tests/test_ingest_command.py
  tests/test_json_serializer_service.py
Due: black, ruff, mdformat

Clarify Amount handling in import guide
  docs/import-cash-flow.md
Due: mdformat

Stop inferring fees from regulatory fee fallback
  src/premiumflow/core/parser.py
  tests/test_import_parser_spec.py
Due: black, ruff

Remove regulatory fee support from import pipeline
  README.md
  docs/import-cash-flow.md
  src/premiumflow/cli/analyze.py
  src/premiumflow/cli/ingest.py
  src/premiumflow/cli/lookup.py
  src/premiumflow/cli/trace.py
  src/premiumflow/core/parser.py
  src/premiumflow/services/cash_flows.py
  tests/services/test_cash_flows.py
  tests/test_cli.py
  tests/test_import_parser_spec.py
  tests/test_ingest_command.py
  tests/test_lookup.py
Due: black, ruff, mdformat

Add SQLite persistence for import command
  README.md
  docs/import-cash-flow.md
  src/premiumflow/cli/ingest.py
  src/premiumflow/persistence/__init__.py
  src/premiumflow/persistence/storage.py
  tests/test_ingest_command.py
  tests/test_persistence_storage.py
Due: black, ruff, mdformat

Implement idempotent import persistence
  README.md
  docs/import-cash-flow.md
  src/premiumflow/cli/ingest.py
  src/premiumflow/persistence/__init__.py
  src/premiumflow/persistence/storage.py
  tests/test_ingest_command.py
  tests/test_persistence_storage.py
Due: black, ruff, mdformat

Implement idempotent import persistence
  src/premiumflow/persistence/storage.py
  tests/test_persistence_storage.py
Due: black, ruff

Document legacy duplicate cleanup
  src/premiumflow/persistence/storage.py
Due: black, ruff

Add read repository for persisted imports
  src/premiumflow/persistence/__init__.py
  src/premiumflow/persistence/repository.py
  src/premiumflow/persistence/storage.py
  tests/test_persistence_repository.py
Due: black, ruff

Bootstrap FastAPI web skeleton
  pyproject.toml
  src/premiumflow/web/__init__.py
  src/premiumflow/web/app.py
  src/premiumflow/web/dependencies.py
  src/premiumflow/web/static/site.css
  src/premiumflow/web/templates/index.html
  tests/test_web_app.py
  uv.lock
Due: black, ruff, taplo

Add web upload flow
  src/premiumflow/web/app.py
  src/premiumflow/web/static/site.css
  src/premiumflow/web/templates/index.html
  tests/test_web_app.py
Due: black, ruff

Add import history views to web UI
  src/premiumflow/persistence/repository.py
  src/premiumflow/web/app.py
  src/premiumflow/web/static/site.css
  src/premiumflow/web/templates/import_detail.html
  src/premiumflow/web/templates/imports.html
  src/premiumflow/web/templates/index.html
  tests/test_web_app.py
Due: black, ruff

Update AGENTS.md
  AGENTS.md
Due: mdformat

Delete quick-reference.md
  .cursor/quick-reference.md
Due: mdformat

Update agent.md
  .cursor/agent.md
Due: mdformat

Add pagination test for import history view
  tests/test_web_app.py
Due: black, ruff

Remove fees from persisted option transactions
  README.md
  docs/import-cash-flow.md
  src/premiumflow/cli/analyze.py
  src/premiumflow/cli/trace.py
  src/premiumflow/core/models.py
  src/premiumflow/core/parser.py
  src/premiumflow/formatters/output.py
  src/premiumflow/persistence/repository.py
  src/premiumflow/persistence/storage.py
  src/premiumflow/services/analysis.py
  src/premiumflow/services/analyzer.py
  src/premiumflow/services/cash_flows.py
  src/premiumflow/services/chain_builder.py
  src/premiumflow/services/display.py
  src/premiumflow/services/json_serializer.py
  src/premiumflow/services/transactions.py
  src/premiumflow/web/templates/import_detail.html
  tests/services/test_cash_flows.py
  tests/test_analysis_service.py
  tests/test_analyze_command.py
  tests/test_analyzer.py
  tests/test_cli.py
  tests/test_display_service.py
  tests/test_import_parser_spec.py
  tests/test_json_serializer_service.py
  tests/test_persistence_repository.py
  tests/test_persistence_storage.py
  tests/test_trace_command.py
  tests/test_web_app.py
Due: black, ruff, mdformat

Add CLI commands to manage stored imports
  README.md
  docs/import-cash-flow.md
  src/premiumflow/cli/commands.py
  src/premiumflow/cli/import_command.py
  src/premiumflow/persistence/repository.py
  tests/test_cli.py
  tests/test_import_command.py
  tests/test_persistence_repository.py
Due: black, ruff, mdformat

Add web import management features
  src/premiumflow/web/app.py
  src/premiumflow/web/static/site.css
  src/premiumflow/web/templates/import_detail.html
  src/premiumflow/web/templates/imports.html
  tests/test_web_app.py
Due: black, ruff

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: mdformat

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  yamlfmt: any of: ^\.github/workflows/.*\.ya?ml$
  taplo: any of: ^pyproject\.toml$
